<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <span style="margin-right: 10px;">Filter by</span>
    <div style="margin-right: 10px;" class="radio" *ngFor="let filterOption of filterOptions">
      <input (click)="onSelectFilterOption(filterOption)" type="radio" [value]="filterOption" [ngModel]="defaultFilterOption"> {{ filterOption }}
    </div>
    <input [(ngModel)]="filterString" id="filterRecipes" type="text" class="form-control">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <app-recipe-item
        *ngFor="let recipeEl of recipes | recipeFilter:filterString:selectedFilterOption; let i = index;"
        [recipe]="recipeEl"
        [id]="i">
      </app-recipe-item>
    </div>
  </div>
</div>
